---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="rounded card lg:card-side bg-base-100 shadow-xl my-5">
  <figure><img class="w-full h-64 object-cover" src="https://placeimg.com/200/280/arch" alt="Movie" /></figure>
  <div class="card-body lg:w-4/6">
    <header>
      <p class="publish-date">{post.frontmatter.publishDate}</p>
      <a href={post.url}><h1 class="font-bold">{post.frontmatter.title}</h1></a>
      <header>
        <p class="max-h-fit max-w-prose overflow-hidden">{post.frontmatter.description}</p>
        <div class="card-actions justify-end">
          <a class="btn btn-ghost" href={post.url}>Continue lendo →</a>
        </div>
      </header>
    </header>
  </div>
</article>
