---
import Author from "./Author.astro";

export interface Props {
  title: string;
  author: string;
  authorURL: string;
  publishDate: string;
  heroImage: string;
  alt: string;
}

const { title, author, authorURL, publishDate, heroImage, alt } =
  Astro.props as Props;
---

<article class="prose prose-stone mx-auto w-auto px-4 md:px-0">
  <div>
    <header>
      {
        heroImage && (
          <img
            width="720"
            height="420"
            class="hero-image"
            loading="lazy"
            src={heroImage}
            alt={alt}
          />
        )
      }
      <p class="">{publishDate}</p>
      <h1 class="">{title}</h1>
      <Author name={author} href={authorURL} />
    </header>
    <main>
      <slot />
    </main>
  </div>
</article>
